.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml

publications.html
preprints.bib
articles.bib
books.bib
chapters.bib
conferences.bib
others.bib
magazines.bib

preprints.html
articles.html
books.html
chapters.html
conferences.html
others.html
magazines.html

content-fr.tex
content.tex

makefile2graph
visual.dot
